{% extends "ContabilidadBundle::menu.html.twig" %} 
{% block titulo %} Asiento: {{Asiento.numero}} -- {{Asiento.descripcion}}
    <a href="{{path("queryAsiento",{"ejercicio_id":Asiento.ejercicio.id})}}" class="btn btn-success">Volver</a>
    <hr/>
{% endblock %}
    
{% block contenido %}
    <div class="container">
        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_end (form)}}
    </div>
{% endblock %}