{% extends "CompeticionBundle::menu.html.twig" %} 
{% block titulo %} SELECCIÓN DE ARQUEROS: {{Competicion.descripcion}}
<br/>
  <a href="{{path("addPersona")}}" target="_blank" class="btn btn-success">Nueva Persona</a>
 {% endblock %}
{% block contenido %}
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
        
        <table class="tabla table" border="1">
            <thead>
                <tr class="success">
					<th class="text-center text-bold">ID</th>
                    <th class="text-center text-bold">NIF</th>
                    <th class="text-center text-bold">Nombre</th>
				    <th class="text-center text-bold">Club</th>
					<th class="text-center text-bold">Categoría</th>
					<th class="text-center text-bold">Licencia</th>
					<th class="text-center text-bold">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for Arquero in Arqueros %}
                    <tr>
                        <td class="text-center">{{Arquero.arquero_id}}</td>
                        <td class="text-center">{{Arquero.nif}}</td>
						<td>{{Arquero.apenom}}</td>
                    	<td>{{Arquero.club}}</td>
                        <td>{{Arquero.categoria}}</td>
						<td>{{Arquero.licencia}}</td>
                        <td class="text-center">
                           <a href="{{path("addParticipante",{"competicion_id":Competicion.id,"arquero_id":Arquero.arquero_id})}}" class="btn btn-success">Incluir</a>
					    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}