{% extends "PersonaBundle::menu.html.twig" %} 
{% block titulo %} GESTIÓN DE SOCIOS-CONSULTA{% endblock %}
{% block contenido %}
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
        <a href="{{path("addSocio")}}" class="btn btn-success">Nuevo Socio</a>
        <hr/>
        
        <table class="tabla table" border="1">
            <thead>
                <tr class="success">
                    <th class="text-center text-bold">ID</th>
                    <th class="text-center text-bold">Nº Socio</th>
                    <th class="text-center text-bold">Nombre</th>
					<th class="text-center text-bold">Estado</th>
                    <th class="text-center text-bold">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for Socio in Socios %}
                    <tr>
                        <td class="text-center">{{Socio.id}}</td>
						<td class="text-center">{{Socio.nmsocio}}</td>
						<td>{{Socio.persona.apenom}}</td>
						<td class="text-center">{{Socio.estado}}</td>
						<td class="text-center">
                           <a href="{{path("editSocio",{ "id":Socio.id })}}" class="btn btn-success">Editar</a>
                      
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}