{% extends "ContabilidadBundle::menu.html.twig" %} 
{% block titulo %} CONSULTA DE PROYECTOS {% endblock %}
{% block contenido %}
    {%include 'ContabilidadBundle::funciones.html.twig'%}
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
        <a href="{{path("addProyecto")}}" class="btn btn-success">Nuevo Proyecto</a>
        <hr/>
        
        <table class="tabla table" border="1">
            <thead>
                <tr class="success">
                    <th class="text-center text-bold">ID</th>
                    <th class="text-center text-bold">Descripción</th>
                    <th class="text-center text-bold">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for Proyecto in Proyectos %}
                    <tr>
                        <td class="text-center">{{Proyecto.id}}</td>
                        <td>{{Proyecto.descripcion}}</td>
                        <td class="text-center">
                        <a href="{{path("editProyecto",{ "id":Proyecto.id })}}" 
                              class="btn btn-warning">Editar</a>
                        <a href="{{path("resumenProyecto",{"id":Proyecto.id })}}" 
                           target="_blank"
                           class="btn btn-info">Asientos</a>
                        <input type="button" id="boton-cierre" 
                                  class="btn btn-danger" value="Eliminar" onClick="EliminarProyecto({{Proyecto.id}})">
                        </td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
{% endblock %}