{% extends "ContabilidadBundle::menu.html.twig" %} 
{% block titulo %} APUNTE : {{Apunte.numero}} -- {{Apunte.descripcion}}
    <a href="{{path("queryApunte",{"asiento_id":Apunte.asiento.id})}}" class="btn btn-success">Volver</a>
    <hr/>
{% endblock %}
    
{% block contenido %}
    <div class="container">
        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_end (form)}}
    </div>
{% endblock %}